h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

mat-table {
  width: 100%;
  overflow: auto;
  margin-bottom: 20px;
}

mat-header-cell, mat-cell {
  padding: 10px;
}

mat-paginator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* 👇 Esto estaba mal antes */
::ng-deep mat-icon.activo {
  color: green !important;
}

::ng-deep mat-icon.inactivo {
  color: red !important;
}